body {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.user-photo {
    max-width: 70px;
    min-width: 70px;
}

.user-photo-bg {
    max-width: 350px;
}

.buddy-photo {
    max-width: 60px;
}

.message-avatar {
    max-width: 50px;
}

.resize-none {
    resize: none;
}

.card-gray-bg > .card {
    background-color: #f5f5f5;
}

.notification {
    display: none;
}

.notification:last-child {
    display: block;
}

.emptiness-notification {
    display: none;
}

.emptiness-notification:last-child {
    display: block;
}
